*{margin:0;padding:0;outline:none}
a{text-decoration:none}
html{cursor:default;font-family:sans-serif,serif;font-size:13px;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGklEQVQY02NgYGDgamhoYABhCAEVYICLAgUAtkMJH4c8RtYAAAAASUVORK5CYII=')}
body{width:800px;margin:0 auto;}
#stanga,#dreapta{width:180px;float:left}
#centru{width:438px;float:left;background-color:#FFF;border:1px solid #dedede;border-top-width:0;}
#antet{padding-top:10px;}
/*#antet h1 a{display:block;width:438px;height:60px;text-indent:-9999px}*/
#antet h1 a{color:#777; text-transform:uppercase;font-weight:normal}
#antet h1 {text-align:center; font-family:"Palatino Linotype", "Book Antiqua", "Palatino", serif; font-size:25px; letter-spacing:5px;}
#continut{padding:20px}
#continut p{line-height:1.6;text-align:justify;text-indent:30px; color:#111}
#continut a{color:#5F91BA; border-bottom:1px solid #E0E0E0;}
/*
#continut a:hover{text-decoration:underline}
*/
#continut a:hover {border-bottom:1px solid #AAA}
#continut ul{padding-left:50px;list-style-type:circle;}
#continut li{line-height:1.6;}
#subsol{padding-bottom:10px;}
#subsol a{color:#5F91BA;}
#subsol p{text-align:center;font-size:10px;color:#888}


/*.intro{margin-bottom:20px;padding:10px;background-color:#f7f7f7;border:1px solid #efefef}*/
.intro{margin-bottom:20px;padding:10px 0;border:1px solid #aaa; border-width:1px 0}



/*
#antet a.minimul{background:url(_titluri/minimul.png)}
#antet a.minimul:hover {background:url(_titluri/minimul.png) 0 -60px}
#antet a.bancuri{background:url(_titluri/bancuri.png)}
#antet a.bancuri:hover {background:url(_titluri/bancuri.png) 0 -60px}
#antet a.pseudorom{background:url(_titluri/pseudorom.png)}
#antet a.pseudorom:hover {background:url(_titluri/pseudorom.png) 0 -60px}
#antet a.cuge{background:url(_titluri/cugetari.png)}
#antet a.cuge:hover {background:url(_titluri/cugetari.png) 0 -60px}
#antet a.girltalk{width:399px;height:162px;margin:0 auto;background:url(_titluri/girltalk.png)}
*/



form.formular fieldset {margin: 15px 0 10px 0; border:1px solid #BBB}
form.formular fieldset legend {margin-left:10px; padding:5px; font-style:italic}
form.formular fieldset ul {padding:10px !important; list-style:none !important;}
form.formular fieldset ul li {padding-bottom:10px;}
form.formular fieldset ul li label {display:block; width:140px; float:left; margin-right:10px; text-align:right}
form.formular fieldset ul li input {width:220px; height:18px; padding:1px; margin:0; border:1px solid #bbb; background-color:#f2f2f2; font-size:12px;}
form.formular fieldset ul li span {padding:0 10px; color:#D33; font-weight:bold;}
